/* introduce */
.row{
    display: flex;
    flex-wrap: wrap;

}
.introduce{
    padding: 100px 0;
    background: beige;
}

.title-head h1{
    padding: 15px 30px;
    font-size: 40px;
    color: #42210b;
    text-transform: uppercase;
    /* text-align: center; */
}
.content-page{
    padding: 5px 30px;
    line-height: 25px;
    font-size: 20px;
}
.content-page img{
    padding: 10px;
}
.dashboard{
    font-weight: bold;
}
