/*--------Product----------*/
.row {
  display: flex;
  flex-wrap: wrap;

}

.product {
  padding: 100px 0;
  background: beige;
}

.product-top {
  margin-bottom: 30px;

}

.product-top p {
  margin: 0 12px;
  font-size: 12px;

}

.product-imgs {
  width: 50%;
  display: flex;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content-right {
  width: 50%;
  padding-left: 40px;
}

.product-content-right-product-name h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #42210b;
}

.product-content-right-product-name p {
  color: #ccc;
  font-size: 16px;
}

.product-content-right-product-price p {
  margin: 12px 0;
  font-size: 30px;
  font-weight: bold;
  color: #42210b;

}

.product-content-right-product-size p {
  color: #42210b;
  font-weight: bold;
  margin: 4px 0;
}

.product-content-right-product-size select {
  width: 50px;
  height: 24px;
}

.quantity {
  margin: 12px 0;

}

.quantity input {
  margin: 4px 0;
  height: 24px;
}

.product-content-right-product {
  padding: 5px 0;
}

.product-content-right-product button {
  width: 80%;
  height: 50px;
  border-radius: 4px;
  background: #42210b;
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.product-content-right-product button:hover {
  background: burlywood;
  color: #000;
}

.section-title-a-center {
  text-align: center;
  border-top: 1px solid black;
  text-transform: uppercase;
  padding: 20px;
}

.product-foot-content-item {
  display: flex;
  padding-left: 200px;
}

.icon {
  justify-content: space-between;
  font-size: 60px;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: #f2f2f2;
}

.wrapper i:first-child {
  left: -22px;
  display: none;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}